
.container {
    display: flex;
    font-family:Arial, Helvetica, sans-serif;
}

.form {
    width: 50%;
}

.subheader{
    font-size: 1.25rem;
    font-weight: bold;
}

.prompt {
    width: 90%;
    position: relative;
    left: 15px;
}

.response h3 {
    position: relative;
    left: 100px
}

#responseOutput {
    position: relative;
    left: 50px;
}